:root {
    --blue: #1e90ff;
}

body {
    background: #eee;
}

.color-blue {
    color: var(--blue);
}

.nav-bar {
    background: #fff;
    color: var(--blue);
    box-shadow: 0px 5px 5px #ddd;
}

.nav-bar a {
    color: var(--blue);
}

.search-wrapper {
    background: #fff;
}

.search-bar-wrapper {
    border: solid 2px var(--blue);
}

.side-bar {
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px #ccc;
}

.btn {
    border: solid 1.5px var(--blue);
    color: var(--blue);
    border-radius: 10px;
    background: #fff;
}

.btn:hover {
    cursor:pointer;
    background: var(--blue);
    color: white;
    transition: all 0.5s ease;
}

.quote-block {
    /*border: solid 2px #1e90ff;
    border-radius: 8px;*/
    box-shadow: 5px 5px 10px #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
    color: black;
}

.quote-block:hover {
    background: var(--blue);
    box-shadow: 0px 0px 15px var(--blue);
    color: white;
    transition: all 0.2s ease;
}

.quote-text {
    text-shadow: 1px 1px 4px #a1b9c7;
}

.secondary-nav span a::hover {
    background: var(--blue);
}