:root {
    --blue: #1e90ff;
}

.nav-bar {
    /* color: var(--blue); */
    color: black;
}

.nav-bar a {
    /* color: var(--blue); */
    color: black;
}

button {
    /* border: solid 1.5px var(--blue); */
    border: solid 1.5px black;
    /* color: var(--blue); */
    color: black;
}

button:hover {
    /* background: var(--blue); */
    background: black;
    color: white;
}