{% extends "general.html" %}

{% block content %}
<link rel="stylesheet" href="static/forms.css">
<form class="account-wrapper" action="{{ url_for('create_account') }}" method="post">
    <div class="account-box" style="width: 350px;">
    <h1>CREATE AN ACCOUNT</h1>
    <span>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" style="margin-bottom:10px;" placeholder="example@gmail.com">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" style="margin-bottom:10px;" placeholder="John">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" style="margin-bottom:10px;" placeholder="Doe">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" style="margin-bottom:10px;" placeholder="Password">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Password">
    </span>
    <p style="color:red">{{ message }}</p>
    <button type="submit" class="full-btn">Create</button>
    </div>
</form>
{% endblock %}