{% extends "general.html" %}

{% block content %}
<link rel="stylesheet" href="\static\lists.css">
<div class="scroll-div">
    <form class="side-bar" action="{{ url_for('volunteering') }}" method="post">
        <h3>VOLUNTEERING    </h3>
        <label for="search">Search</label>
        <input class="input-box" type="text" id="search" name="search" placeholder="Search opportunities . . ." autocomplete="off">
        <button type="submit">Search</button>
    </form>
    <div class="block-wrapper">
        {% for opportunity in opportunities %}
        <div class="info-block">
            <h1>{{ opportunity["Name"] }}</h1>
            <p>From {{ opportunity["StartDate"] }} To {{ opportunity["EndDate"] }}</p>
            <p>At {{ opportunity["Location"] }}</p>
            <p>Run by {{ opportunity["Organisation"] }}</p>
            <p>Skills: {% for skill in opportunity["Skill"] %}{{ skill }}, {% endfor %}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}